<div class="container">
  <mat-card class="mat-elevation-z16,my-card" style="padding: 20px;">

    <form [formGroup]="tripStartForm" (ngSubmit)="startTrip()">
      <div class="form-group" (click)="openEmployeeDialog()">
        <label for="employeeId">Empleado</label>
        <input matInput formControlName="employeeId" placeholder="Seleccionar Empleado" readonly="true"
        class="form-control">
      </div>

      <div class="form-group" (click)="openCarsDialog()">
        <label for="carId">Vehiculo</label>
        <input matInput formControlName="carId" placeholder="Seleccionar Vehiculo" readonly="true"
        class="form-control">
      </div>
        
  
   
      <button type="submit" class="btn btn-primary my-button"[disabled]="tripStartForm.invalid">Iniciar Viaje</button>
    </form>

    <div class="trip-table">
        <table mat-table [dataSource]="trips" class="mat-elevation-z8">
          
          <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef> Empleado </th>
            <td mat-cell *matCellDef="let trip"> {{trip.employeeName}} </td>
          </ng-container>

          <ng-container matColumnDef="car">
            <th mat-header-cell *matHeaderCellDef> Carro </th>
            <td mat-cell *matCellDef="let trip"> {{trip.employeeName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="return">
            <th mat-header-cell *matHeaderCellDef> Devolver </th>
            <td mat-cell *matCellDef="let trip">
              <button mat-raised-button color="warn" (click)="returnCar(trip.id)">Devolver</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      </mat-card>
      
  </div>
 