

<div class="container">
    <div class="container">
        <mat-card class="mat-elevation-z16,my-card" style="padding: 20px;">
        <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Modelo</label>
            <input type="text" id="model" formControlName="model" class="form-control">
          </div>
        
          <div class="form-group">
            <label for="matricula">Marca</label>
            <input type="text" id="brand" formControlName="brand" class="form-control">
          </div>
          <div class="form-group">
            <label for="productionDate">Fecha de producción:</label>
            <input type="date" id="productionDate" name="productionDate"  formControlName="productionDate" class="form-control">
          </div>

         
        
          <button type="submit" class="btn btn-primary my-button">Guardar</button>
        </form>
        
        
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z16">
        
          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef> Model </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
          </ng-container>
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
          </ng-container>
          <ng-container matColumnDef="productionDate">
            <th mat-header-cell *matHeaderCellDef> Production Date </th>
            <td mat-cell *matCellDef="let element"> {{element.productionDate | date}} </td>
          </ng-container>
        
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-button (click)="onEdit(element)">Editar</button> 
              <button mat-button (click)="onDelete(element.id)">Eliminar</button> 
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </mat-card>
      </div>
    